<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->
        <div class="container-fluid bg-dark text-light p-0">
            <div class="row gx-0 d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center me-4">
                        <small class="fa fa-map-marker-alt text-primary me-2"></small>
                        <small>123 Street, New York, USA</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center">
                        <small class="far fa-clock text-primary me-2"></small>
                        <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center me-4">
                        <small class="fa fa-phone-alt text-primary me-2"></small>
                        <small>+012 345 6789</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center mx-n2">
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->

        <!-- Navbar Start -->
        <%- include('layouts/navbar') -%>
            <!-- Navbar End -->

            <!-- Appointment Start -->
            <div class="container-xxl py-6">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-8 offset-lg-2 wow fadeInUp" data-wow-delay="0.1s">
                            <h6 class="text-primary text-uppercase mb-2">Appointment</h6>
                            <!-- Create Appointment Form -->
                            <h2 class="mb-4">Create an Appointment</h2>
                            <form action="/create-appointment" method="POST">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="date" class="form-control border-0 bg-light" name="date"
                                                id="date" placeholder="Appointment Date" required
                                                min="<%= new Date().toISOString().split('T')[0] %>">
                                            <label for="date">Date</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="time" class="form-control border-0 bg-light" name="time"
                                                id="time" placeholder="Appointment Time" required>
                                            <label for="time">Time</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary py-3 px-5" type="submit">Create
                                            Appointment</button>
                                    </div>
                                </div>
                            </form>

                            <hr class="my-4">

                        </div>
                    </div>
                </div>
            </div>
            <!-- Appointment End -->

            <!-- Footer Start -->
            <%- include('layouts/footer') -%>

                <!-- JavaScript Libraries -->
                <%- include('layouts/script') -%>
    </body>

</html>