<!DOCTYPE html>
<html lang="en">
<%- include ('layouts/header') -%>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid bg-dark text-light p-0">
            <div class="row gx-0 d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center me-4">
                        <small class="fa fa-map-marker-alt text-primary me-2"></small>
                        <small>123 Street, New York, USA</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center">
                        <small class="far fa-clock text-primary me-2"></small>
                        <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="h-100 d-inline-flex align-items-center me-4">
                        <small class="fa fa-phone-alt text-primary me-2"></small>
                        <small>+012 345 6789</small>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center mx-n2">
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar Start -->
        <%- include ('layouts/navbar') -%>
            <!-- Navbar End -->

            <div class="container-xxl py-6">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                            <h6 class="text-primary text-uppercase mb-2">Examiner Dashboard</h6>
                            <h1 class="display-6 mb-4">Manage Driver Appointments</h1>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <select class="form-select" id="testType" name="testType">
                                            <option>Select Test Type</option>
                                            <option value="G">G Test</option>
                                            <option value="G2">G2 Test</option>
                                        </select>
                                        <label for="testType">Filter by Test Type</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Driver Name</th>

                                                <th scope="col">Appointment Date</th>
                                                <th scope="col">Appointment Time</th>
                                                <th scope="col">Result</th>
                                                <th scope="col">Comment</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="appointmentList">

                                            <% appointments.forEach(function(appointment) { %>

                                                <tr>
                                                    <td>
                                                        <%= appointment.user ? appointment.user.firstname : 'N/A' %>
                                                            <%= appointment.user ? appointment.user.lastname : 'N/A' %>
                                                    </td>
                                                    <td>
                                                        <%= new Date(appointment.date).toDateString() %>
                                                    </td>
                                                    <td>
                                                        <%= appointment.time %>
                                                    </td>
                                                    <td>
                                                        <%= appointment.passFail ? 'Pass' : 'Fail' %>
                                                    </td>
                                                    <td>
                                                        <%= appointment.comment || 'No comment' %>
                                                    </td>
                                                    <td>
                                                        <a href="/examiner/appointment/<%= appointment._id %>"
                                                            class="btn btn-primary">View Details</a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Examiner Page End -->


            <!-- Footer Start -->
            <%- include ('layouts/footer') -%>


                <!-- JavaScript Libraries -->
                <%- include ('layouts/script') -%>

    </body>

</html>